footer>div{
  background-color: #2a2d2e;
  padding-top: 105px;
  padding-bottom: 160px;
  position: relative;
}

footer h1{
  text-align: center;
  margin-bottom: 40px;
}

footer>div p{
  text-align: center;
  color: rgba(170, 171, 171, 0.5);
  font-size: 0.75rem;
  line-height: 1.667em;
  font-weight: 300;
  margin-bottom: 35px;
}

footer>div ul{
  text-align: center;
  color: rgba(170, 171, 171, 0.5);
  font-size: 0.75rem;
  line-height: 1.667em;
  font-weight: 300;
  margin-bottom: 35px;
}

.add{
  display: inline-block;
}

.bar{
  position: relative;
  margin-right: 15px;
}

.bar::after{
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 10px;
  background-color: rgba(170, 171, 171, 0.5);
  position: absolute;
  top: -5px; right: -20px;
}

footer .brand{
  text-align: center;
  color: #aaabab;
  font-size: 0.875rem;
}

.brand>b{
  font-size: 1.125rem;
  margin-left: 10px;
  margin-right: 25px;
}

.top_btn{
  position: absolute;
  right: 0; bottom: 0;
}

@media (max-width: 1024px){
  .bar::after{
    display: none;
  }
}